.container-sections-bis{
    margin-top: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-gap: 20px;
    grid-template-areas: 
                          "smartphone-title-bis ",
                          "smartphone1   ",
                          "smartphone2   ",
                          "smartphone3   ";
}
div.smartphone-title-bis{
    grid-area: smartphone-title-bis;
    height: 40px;
    background: transparent;
    color: #666;
    font-weight: 500;
}
section.smartphone1{
    grid-area: smartphone1;
    height: 100%;
    min-height: 320px;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    flex-flow: wrap;

}
section.smartphone2{
    grid-area: smartphone2;
    height: 100%;
    min-height: 320px;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    flex-flow: wrap;

}
section.smartphone3{
    grid-area: smartphone3;
    height: 100%;
    min-height: 320px;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    flex-flow: wrap;

}