    /*<<<<<<<<<<<<<<<<<' MAIN '>>>>>>>>>>>>>>>>>*/

    .container {
        margin: 0 auto;
        width: 90%;
        max-width: 1150px;
    }

    /* section .slider{
        background-color: #fff;
        margin: 20px 0;
        padding: 20px;
        height: 100vh;
    
    } */

    section.slider {
        height: 300px;
        max-height: 300px;
    }

    section.slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    /*<<<<<<<<<<<<<<<<<' GRID SECTIONS'>>>>>>>>>>>>>>>>>*/

    .container-sections {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-gap: 20px;
        grid-template-areas: "oferta-title oferta-title masvendido-title masvendido-title" "oferta        oferta       masvendido         masvendido" "smartphone-title   smartphone-title  smartphone-title     smartphone-title" "smartphone   smartphone   smartphone        smartphone" "reloj-title   reloj-title  reloj-title     reloj-title" "reloj        reloj           reloj           reloj" "box-1          box-1          box-2             box-2 ";
    }

    div.oferta-title {
        grid-area: oferta-title;
        height: 40px;
        background: transparent;
        color: #666;
        font-weight: 500;
    }

    section.oferta {
        grid-area: oferta;
        height: 100%;
        min-height: 310px;
        background: transparent;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;
        flex-flow: wrap;
    }

    div.masvendido-title {
        grid-area: masvendido-title;
        height: 40px;
        background: transparent;
        color: #666;
        font-weight: 500;
    }

    section.masvendido {
        grid-area: masvendido;
        height: 100%;
        min-height: 320px;
        background: transparent;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;
        flex-flow: wrap;
    }

    div.smartphone-title {
        grid-area: smartphone-title;
        height: 40px;
        background: transparent;
        color: #666;
        font-weight: 500;
    }

    section.smartphone {
        grid-area: smartphone;
        height: 100%;
        min-height: 320px;
        background: transparent;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;
        flex-flow: wrap;
        overflow: auto;
    }

    div.reloj-title {
        grid-area: reloj-title;
        height: 40px;
        background: transparent;
        color: #666;
        font-weight: 500;
    }

    section.reloj {
        grid-area: reloj;
        height: 100%;
        min-height: 320px;
        background: transparent;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;
        flex-flow: wrap;
    }

    /*<<<<<<<<<<<<<<<<<' GRID SECTIONS'>>>>>>>>>>>>>>>>>*/

    section.box-1 {
        grid-area: box-1;
        display: flex;
        /* height: 100%; */
        /* min-height: 250px; */
        background-color: #fff;
        margin-bottom: 40px;
        flex-flow: wrap;
    }

    section.box-1:hover {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .4);
    }

    section.box-2 {
        grid-area: box-2;
        display: flex;
        /* height: 100%; */
        /* min-height: 250px; */
        background-color: #fff;
        margin-bottom: 40px;
        flex-flow: wrap;
    }

    section.box-2:hover {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .4);
    }

    div.box-desc {
        width: 50%;
        text-align: center;
        margin: auto 0px;
    }

    span.box-text {
        display: block;
        width: 100%;
        padding: 20px 10px;
        color: #e47b1185;
    }

    span.box-title {
        display: block;
        width: 100%;
        padding: 20px 10px;
        text-anchor: middle;
    }

    div.box-btn {
        width: 100px;
        display: block;
        padding: 10px;
        border-radius: 4px;
        margin: 20px auto;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, .4);
    }

    div.box-btn:hover {
        background: #232f3e;
        color: #fff;
        transition: 1s ease all;
    }

    figure.box-img {
        width: 50%;
    }

    figure.box-img img {
        width: 100%;
    }

    /*<<<<<<<<<<<<<<<<  IMG FIX >>>>>>>>>>>>>>>>>*/

    section.img-fix {
        width: 100%;
        height: 250px;
        max-height: 300px;
        margin-top: 40px;
        background-image: url('../recursos/img-fixed.jpeg');
        background-size: cover;
        background-attachment: fixed;
        background-position: 50%;
        position: relative;
    }

    div.fix-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        width: 100%;
        position: absolute;
        top: 35%;
        font-weight: bold;
        font-size: 38px;
        background-color: rgba(32, 12, 12, 0.5);
        color: rgba(255, 255, 255, 0.8);
    }

    div.fix-text h3 {
        height: 100%;
        display: inline-block;
        padding-top: 15px;
        padding-left: 30px;
        text-align: center;
    }

    /*<<<<<<<<<<<<<<<<<' API WHATSAPP'>>>>>>>>>>>>>>>>>*/

    .container-apis{
        width: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: right;
        border-radius: 10px;
        background: rgba(0, 0, 0, .1);
        /* border: 1px solid #232f3e; */
        position: fixed;
        bottom: 30px;
        left: 95%;
    }
    .whatsapp:hover {
        transform: scale(1.25);
        transition: .4s ease all;
    }

    .whatsapp a {
        color: #075e54;
        font-size: 40px;
    }

    .fmessenger:hover {
        transform: scale(1.25);
        transition: .4s ease all;
    }

    .fmessenger a {
        color: #0084ff;
        font-size: 40px;
    }